.LoginSignup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 90vh;
  padding: 20px; /* Adds padding for smaller screens */
}

.loginSignupContainer {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 10px 2px 5px rgba(144, 168, 153, 0.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid;
  border-color: rgb(8, 65, 65);
  background: linear-gradient(to right, rgb(210, 154, 24), rgb(212, 213, 175));
  width: 400px; /* Default width */
  max-width: 90%; /* Prevents overflow on smaller screens */
}

.LoginSignupContainerHeading {
  text-align: center;
  font-size: 1.5rem;
}
.LoginSignupContainerMessage {
  text-align: center;
  font-size: 1rem;
  color: #1f1e1e;
  margin-bottom: 20px;
}
.signup-option{
  margin-left:40px;
  cursor: pointer;
}

.login-option{
  margin-left:40px;
  cursor: pointer;
}


