/* Pricing Section */
.pricing-section {
  margin-top: 80px;
  text-align: center;
}

/* Pricing Heading */
.pricing-heading {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #134e5e; /* Deep green */
}

.pricing-subheading {
  font-size: 1.2rem;
  color: #34a97b; /* Vibrant green */
  margin-bottom: 40px;
}

@media (min-width: 640px) {
  .pricing-heading {
      font-size: 3.5rem;
  }
}

@media (min-width: 1024px) {
  .pricing-heading {
      font-size: 4rem;
  }
}

/* Pricing Container */
.pricing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Pricing Card */
.pricing-card {
  width: 100%;
  padding: 16px;
  transition: transform 0.3s ease-in-out;
}

.pricing-card:hover {
  transform: scale(1.05);
}

@media (min-width: 640px) {
  .pricing-card {
      width: 50%;
  }
}

@media (min-width: 1024px) {
  .pricing-card {
      width: 30%;
  }
}

/* Popular Plan */
.popular-plan {
  position: relative;
  box-shadow: 0px 0px 15px rgba(30, 104, 71, 0.5);
}

/* Pricing Card Content */
.pricing-card-content {
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  background: linear-gradient(135deg, #1a3c34, #2e8b57);
  color: white;
}

/* Plan Title */
.plan-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Popular Plan Badge */
.popular-badge {
  background: linear-gradient(to right, #34a97bb2, #1e6847);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 8px;
}

/* Pricing */
.plan-price-wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.plan-price {
  font-size: 3rem;
  font-weight: bold;
  margin-right: 8px;
  color: #34a97b;
}

.plan-duration {
  font-size: 1rem;
  color: #bbb;
}

/* Features List */
.features-list {
  margin-top: 20px;
  padding-left: 0;
  list-style: none;
  display: flex; /* Align features in a row */
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  justify-content: center;
  gap: 15px; /* Space between items */
}

/* Feature Item */
.feature-item {
  display: flex;
  align-items: center;
  background: rgba(30, 104, 71, 0.1); /* Soft green background */
  border-radius: 8px;
  padding: 10px 15px;
  flex: 1 1 calc(50% - 20px); /* Each feature takes 50% width with spacing */
  justify-content: center;
  text-align: center;
  min-width: 150px;
}

.feature-item svg {
  color: #34a97b;
  margin-right: 8px;
}

/* Subscribe Button */
.subscribe-button {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 16px;
  margin-top: 40px;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  background-color: #34a97b;
  border: 2px solid #34a97b;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}

.subscribe-button:hover {
  background-color: white;
  color: #34a97b;
}
